#container{
	width: 700px;
	margin: 15px auto;
	border-bottom:1px solid #cfcfcf;
	padding-bottom:15px;
	margin-bottom:0;
}
.slide li {
    list-style-type: none;
    display: inline-block;
}
.slide li img {
    height: 150px;
    border: 5px solid #999;
    margin: 5px;
}

